<div class="container form-box col-4 px-5 pt-3 pb-5 my-3 rounded" style="background-color: rgba(255, 255, 0, 0.292);">
  <h2 class="text-center text-success">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group mb-3">
      <%= f.label :first_name, class: "font-weight-bold" %>
      <%= f.text_field :first_name, class: "form-control", placeholder: "Enter your first name" %>
      <% if resource.errors[:first_name].any? %>
        <div class="text-danger mt-1"><%= resource.errors[:first_name].first %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :last_name, class: "font-weight-bold" %>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name" %>
      <% if resource.errors[:last_name].any? %>
        <div class="text-danger mt-1"><%= resource.errors[:last_name].first %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :email, class: "font-weight-bold" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
      <% if resource.errors[:email].any? %>
        <div class="text-danger mt-1"><%= resource.errors[:email].first %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :password, class: "font-weight-bold" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
      <small class="form-text text-muted">6 characters minimum</small>
      <% if resource.errors[:password].any? %>
        <div class="text-danger mt-1"><%= resource.errors[:password].first %></div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :password_confirmation, class: "font-weight-bold" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
      <% if resource.errors[:password_confirmation].any? %>
        <div class="text-danger mt-1"><%= resource.errors[:password_confirmation].first %></div>
      <% end %>
    </div>

    <div class="form-group my-4 text-center">
      <%= f.submit "Sign up", class: "btn text-light btn-block w-100 bg-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links", class: "text-center" %>
</div>
