<%= render 'layouts/navbar' %>
<div class="container-fluid  p-5 rounded" style="height:700px; background-color: rgba(255, 255, 0, 0.292);">
  <h2 class="mb-4 text-success text-center">Users List</h2>
  <% if notice %>
    <div class="alert alert-success col-7 alert-dismissible fade show mx-auto text-center p-2 small" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="transform: scale(0.7); margin-top: -4px;"></button>
    </div>
  <% end %>
  
  <div class="d-flex justify-content-between mb-2 col-7 m-auto">
    <%= link_to "Back", root_path, class: "btn btn-sm btn-secondary" %>
  </div>

  <div class="col-7 rounded m-auto">
    <table class="table table-bordered table-hover text-center">
      <thead class="table-success">
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= link_to "Detail", user_path(user), class: "btn btn-sm btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
