 <%= render 'layouts/navbar' %>
<div class="container-fluid  p-5 rounded" style="height:700px; background-color: rgba(255, 255, 0, 0.292);">
  <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissible fade show mx-auto text-center p-3 small col-8 " style=" font-size: 0.9rem;" role="alert">
      <%= flash[:error] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="transform: scale(0.7); margin-top: -4px;"></button>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mx-auto text-center p-3 small col-8 " style=" font-size: 0.9rem;" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="transform: scale(0.7); margin-top: -4px;"></button>
    </div>
  <% end %>
  <div class="text-center mb-5">
    <h3 class="text-success">Welcome to MyWebsite</h3>
  </div>

  <div class="row text-center">
    <div class="col-8 m-auto mb-4">
      <div class="card shadow-sm p-4">
        <h5 class="mb-3">Explore</h5>
        <%= link_to "View Users", users_path, class: "btn btn-outline-success mb-4 col-6 m-auto" %>
        <%= link_to "View Posts", posts_path, class: "btn btn-outline-secondary mb-4 col-6 m-auto" %>
        <%= button_to 'Calendar', calendar_index_path, method: :get, class: "btn btn-outline-warning col-6 m-auto" %>
      </div>
    </div>
  </div>
</div>
