<div class="container form-box col-4 px-5 pt-3 pb-5 mt-3 rounded" style="background-color:  rgba(255, 255, 0, 0.292);">
  <h2 class="text-center text-success">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mb-4">
      <%= f.label :email, class: "font-weight-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
    </div>

    <div class="form-group my-4">
      <%= f.label :password, class: "font-weight-bold" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Enter your password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="form-group my-4 text-center">
      <%= f.submit "Log in", class: "btn text-light btn-block w-100 bg-success" %>
    </div>
  <% end %>
 <%= render "devise/shared/links", class: "text-center" %>
</div>


