<div class="col-10 rounded m-auto mt-5">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-success">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Created date</th>
        <th>Updated date</th>
        <th>Created user</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @post.content %></td>
        <td><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= @post.user.full_name %></td>
        <td class="text-center d-flex justify-content-center">
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success me-2" %>
          <%= button_to "Delete", @post, method: :delete, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
