<%= render 'layouts/navbar' %>
<div class="container-fluid  p-5 rounded" style="height:700px; background-color: rgba(255, 255, 0, 0.292);">
  <h2 class="mb-4 text-success text-center">Posts List</h2>
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mx-auto text-center col-8 p-2 small" style=" font-size: 0.9rem;" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="transform: scale(0.7); margin-top: -4px;"></button>
    </div>
  <% end %>
    <div class="d-flex justify-content-between mb-2 col-8 m-auto">
      <%= link_to "Back", root_path, class: "btn btn-sm btn-secondary" %>
      <%= link_to "+ Create Post", new_post_path, class: "btn btn-sm btn-success" %>
    </div>

  <div class="col-8 rounded m-auto">
    <table class="table table-bordered table-hover text-center">
      <thead class="table-success">
        <tr>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= link_to "Detail", post_path(post), class: "btn btn-sm btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
